:host {
    ion-content {
      --background: linear-gradient(#0073d6, #00c0ff);
    }

    .locate-btn {
      --color: var(--ion-color-primary); 
      padding: 0 3em; 
      --background: var(--ion-color-light)
    }

    .balloons {
      height: 30vh;
      max-height: 30vh; 
      margin: 5vh 0
    }

    .tnc-btn {
      --color: var(--ion-color-light); 
      padding: 0 3em;
      margin-bottom: 16px;
    }
}