
  ion-content {
    --background: linear-gradient(#1f85df, #41d0ff, #00c0ff);
  }

  ion-item {
    padding: 8px 0 0 0;
    --padding-start: 0;
  }
  #0073d6
  ::ng-deep mat-option.mat-option-text {
    white-space: normal;
  }
  ::ng-deep .mat-select-value-text {
    white-space: normal !important;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1em;
  }

  currency-drop {
    font-size: 1.2em; 
    font-weight: bold;
  }

  hr {
    background-color: var(--ion-color-grey); 
    width: 90%; 
    float: center; 
    margin-top: 0; 
    margin-bottom: 0
  }
