<ion-header no-border>
  <ion-toolbar [class.show-background]="true" style="padding: 8px 0 8px 0">
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="big-title title-color" style="font-size: 1.5em; padding: 16px">Our Services</div>
  <div style="padding: 0 16px 16px 16px">
    <ion-label>We offer:</ion-label>
    <ion-list>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Personal and corporate/trade remittances</div>
      </ion-item>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Remittances in all major currencies to all over the world</div>
      </ion-item>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Exchange of currencies</div>
      </ion-item>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Account credit services as well as cash pick-up services</div>
      </ion-item>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Correspondent partners all over the world for instant, hassel free money transfer</div>
      </ion-item>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Friendly, trust-worthy, reliable and courteous services</div>
      </ion-item>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Unmatched after sales services and trouble shooting</div>
      </ion-item>
      <ion-item lines="none">
        <img src="../../assets/thumb.png" slot="start" />
        <div>Door-step services through our Mobile-van branches</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>