:host {
    ion-content {
        --background: linear-gradient(#0073d6, #84dffd, #00c0ff);
    }

    .new-header {
        height: 15vh; 
        max-height: 15vh; 
        display: flex;
        flex-direction: row;
        padding-top: 8vh;
        z-index: 5;
        justify-content: center;
    }

    .pad {
        padding: 32px 16px 16px 16px
    }

    .main-timeline-section{
        position: relative;
        width: 100%;  
        margin:auto;
    }
    .main-timeline-section .timeline-start,
    .main-timeline-section .timeline-end {
        background: var(--ion-color-primary);
        border-radius:100px;
        width:30px;
        height:30px;
    }
    .main-timeline-section .conference-center-line {
        position: absolute;
        width: 4px;
        height:100%;
        top: 0;
        left:5%;
        margin-left: -2px;
        border-left: 2px dotted var(--ion-color-medium-shade);
        z-index: -1;
        // position: absolute;
        // width: 4px;
        // height:100%;
        // top: 0;
        // left:2vh;
        // margin-left: -2px;
        // background:#0093D1;
        // z-index: -1;
    }
    .timeline-article{
        width:100%;
        position:relative;
        min-height: 65px;
        z-index: 0;
    }
    .timeline-article .content-date{
        position: absolute;
        top:33%;
        left:5%; 
        font-size:18px;
        margin-left: -150px;
        transform: translateY(50%);
    }
    .timeline-article .meta-date {
        position: absolute;
        top:50%;
        left: 5%;
        width:20px;
        height:20px;
        transform: translateY(-50%); 
        margin-left: -11px;
        border-radius: 100%;
        background:#fff;
        border:1px solid var(--ion-color-primary);
    }
    .timeline-article .content-box{
        position:absolute;
        // box-shadow: 2px 2px 4px 0px #c1c1c1;
        // border:1px solid var(--ion-color-primary);
        // border-radius: 5px;
        // background-color: #fff;
        width:80%;
        top:50%;
        transform: translateY(-50%);
        padding:8px;
        left: 2%;
        margin-left:40px;
    }
    .content-left-container .content-box{
        left:0;
        margin-left: 0px;
    }
    .content-left-container .content-date{
        margin-left: 50px;
    }
    // .content-right-container .content-box:before{
    //     content: " ";
    //     position:absolute; 
    //     left:-10px;
    //     top:43%;
    //     transform: translateX(-50%);
    //     border:10px solid transparent;
    //     border-right-color:var(--ion-color-primary);
    //     display:block;
    // }
    // .content-left-container .content-box:before{
    //     content: " ";
    //     position:absolute; 
    //     top:40%;
    //     right:-30px;
    //     transform: translateX(-50%);
    //     border:10px solid transparent;
    //     border-left-color:var(--ion-color-primary);
    // }
    
    @media (max-width:460px){ 
        .timeline-article.content-left-container .content-box{
            left: -10px;
        }
        .timeline-article .content-box p{
            overflow: hidden;
        }
    }
}