<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <div class="header">
      <h1 class="big-title" style="color: white">Password</h1>
    </div>

    <div class="content">
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col size="10" no-padding>
            <ion-item style="--padding-start: 0px">
              <ion-label position="floating">Password</ion-label>
              <ion-input required [type]="passwordType" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" no-padding style="padding-top: 15px">
            <ion-button fill="clear" (click)="didClickPasswordChange()">
              <ion-icon *ngIf="passwordType === 'password'" slot="icon-only" name="eye"></ion-icon>
              <ion-icon *ngIf="passwordType === 'text'" slot="icon-only" name="eye-off"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="login-btn" expand="block" size="large" (click)="loginPressed()">
        LOGIN
      </ion-button>
      <div class="ion-text-center ion-padding">
        <span style="color: var(--ion-color-primary)" (click)="gotoForgotPassword()">FORGOT PASSWORD</span>
      </div>
    </div>
  </div>
</ion-content>